# coding: utf-8

"""
    Control-M Services

    Provides access to BMC Control-M Services  # noqa: E501

    OpenAPI spec version: 9.21.340
    Contact: customer_support@bmc.com
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from controlm_py.api_client import ApiClient


class DeployApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def delete_calendar(self, calendar_name, **kwargs):  # noqa: E501
        """delete a calendar  # noqa: E501

        Delete a calendar  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_calendar(calendar_name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str calendar_name: The name of the calendar to be deleted. (required)
        :param str server: The name of the server in which the calendar deploy.
        :return: SuccessData
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_calendar_with_http_info(calendar_name, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_calendar_with_http_info(calendar_name, **kwargs)  # noqa: E501
            return data

    def delete_calendar_with_http_info(self, calendar_name, **kwargs):  # noqa: E501
        """delete a calendar  # noqa: E501

        Delete a calendar  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_calendar_with_http_info(calendar_name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str calendar_name: The name of the calendar to be deleted. (required)
        :param str server: The name of the server in which the calendar deploy.
        :return: SuccessData
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['calendar_name', 'server']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_calendar" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'calendar_name' is set
        if ('calendar_name' not in params or
                params['calendar_name'] is None):
            raise ValueError("Missing the required parameter `calendar_name` when calling `delete_calendar`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'calendar_name' in params:
            path_params['calendarName'] = params['calendar_name']  # noqa: E501

        query_params = []
        if 'server' in params:
            query_params.append(('server', params['server']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ApiKeyAuth', 'Bearer']  # noqa: E501

        return self.api_client.call_api(
            '/deploy/calendar/{calendarName}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='SuccessData',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_connection_profile(self, server, agent, type, name, **kwargs):  # noqa: E501
        """Delete Local Connection Profile  # noqa: E501

        Delete Local Connection Profile.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_connection_profile(server, agent, type, name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str server: The name of the Control-M in which the connection profile is deployed. (required)
        :param str agent: The name of the agent the connection profile is deployed on. (required)
        :param str type: The type of connection profile to delete. (required)
        :param str name: Name of the Connection Profile (required)
        :return: SuccessData
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_connection_profile_with_http_info(server, agent, type, name, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_connection_profile_with_http_info(server, agent, type, name, **kwargs)  # noqa: E501
            return data

    def delete_connection_profile_with_http_info(self, server, agent, type, name, **kwargs):  # noqa: E501
        """Delete Local Connection Profile  # noqa: E501

        Delete Local Connection Profile.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_connection_profile_with_http_info(server, agent, type, name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str server: The name of the Control-M in which the connection profile is deployed. (required)
        :param str agent: The name of the agent the connection profile is deployed on. (required)
        :param str type: The type of connection profile to delete. (required)
        :param str name: Name of the Connection Profile (required)
        :return: SuccessData
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['server', 'agent', 'type', 'name']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_connection_profile" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'server' is set
        if ('server' not in params or
                params['server'] is None):
            raise ValueError("Missing the required parameter `server` when calling `delete_connection_profile`")  # noqa: E501
        # verify the required parameter 'agent' is set
        if ('agent' not in params or
                params['agent'] is None):
            raise ValueError("Missing the required parameter `agent` when calling `delete_connection_profile`")  # noqa: E501
        # verify the required parameter 'type' is set
        if ('type' not in params or
                params['type'] is None):
            raise ValueError("Missing the required parameter `type` when calling `delete_connection_profile`")  # noqa: E501
        # verify the required parameter 'name' is set
        if ('name' not in params or
                params['name'] is None):
            raise ValueError("Missing the required parameter `name` when calling `delete_connection_profile`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'server' in params:
            path_params['server'] = params['server']  # noqa: E501
        if 'agent' in params:
            path_params['agent'] = params['agent']  # noqa: E501
        if 'type' in params:
            path_params['type'] = params['type']  # noqa: E501
        if 'name' in params:
            path_params['name'] = params['name']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ApiKeyAuth', 'Bearer']  # noqa: E501

        return self.api_client.call_api(
            '/deploy/connectionprofile/{server}/{agent}/{type}/{name}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='SuccessData',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_folder(self, server, folder_name, **kwargs):  # noqa: E501
        """delete a folder  # noqa: E501

        Delete a folder  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_folder(server, folder_name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str server: The name of the Control-M in which the folder(s) are deployed. (required)
        :param str folder_name: The name of the required folder(s). (required)
        :param str library: library be filled only for z/os.
        :return: SuccessData
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_folder_with_http_info(server, folder_name, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_folder_with_http_info(server, folder_name, **kwargs)  # noqa: E501
            return data

    def delete_folder_with_http_info(self, server, folder_name, **kwargs):  # noqa: E501
        """delete a folder  # noqa: E501

        Delete a folder  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_folder_with_http_info(server, folder_name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str server: The name of the Control-M in which the folder(s) are deployed. (required)
        :param str folder_name: The name of the required folder(s). (required)
        :param str library: library be filled only for z/os.
        :return: SuccessData
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['server', 'folder_name', 'library']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_folder" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'server' is set
        if ('server' not in params or
                params['server'] is None):
            raise ValueError("Missing the required parameter `server` when calling `delete_folder`")  # noqa: E501
        # verify the required parameter 'folder_name' is set
        if ('folder_name' not in params or
                params['folder_name'] is None):
            raise ValueError("Missing the required parameter `folder_name` when calling `delete_folder`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'server' in params:
            path_params['server'] = params['server']  # noqa: E501
        if 'folder_name' in params:
            path_params['folderName'] = params['folder_name']  # noqa: E501

        query_params = []
        if 'library' in params:
            query_params.append(('library', params['library']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ApiKeyAuth', 'Bearer']  # noqa: E501

        return self.api_client.call_api(
            '/deploy/folder/{server}/{folderName}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='SuccessData',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_job_path(self, job_path, **kwargs):  # noqa: E501
        """delete a job  # noqa: E501

        Delete a job  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_job_path(job_path, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str job_path: The name of the required jobPath. (required)
        :param str server: The name of the Control-M in which the job are deployed.
        :param str library: library be filled only for z/os.
        :return: SuccessData
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_job_path_with_http_info(job_path, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_job_path_with_http_info(job_path, **kwargs)  # noqa: E501
            return data

    def delete_job_path_with_http_info(self, job_path, **kwargs):  # noqa: E501
        """delete a job  # noqa: E501

        Delete a job  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_job_path_with_http_info(job_path, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str job_path: The name of the required jobPath. (required)
        :param str server: The name of the Control-M in which the job are deployed.
        :param str library: library be filled only for z/os.
        :return: SuccessData
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['job_path', 'server', 'library']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_job_path" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'job_path' is set
        if ('job_path' not in params or
                params['job_path'] is None):
            raise ValueError("Missing the required parameter `job_path` when calling `delete_job_path`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'job_path' in params:
            path_params['jobPath'] = params['job_path']  # noqa: E501

        query_params = []
        if 'server' in params:
            query_params.append(('server', params['server']))  # noqa: E501
        if 'library' in params:
            query_params.append(('library', params['library']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ApiKeyAuth', 'Bearer']  # noqa: E501

        return self.api_client.call_api(
            '/deploy/job/{jobPath}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='SuccessData',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_local_connection_profile(self, server, agent, type, name, **kwargs):  # noqa: E501
        """Delete Local Connection Profile  # noqa: E501

        Delete Local Connection Profile  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_local_connection_profile(server, agent, type, name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str server: The name of the Control-M in which the connection profile is deployed. (required)
        :param str agent: The name of the agent the connection profile is deployed on. (required)
        :param str type: The type of connection profile to delete. (required)
        :param str name: Name of the Connection Profile (required)
        :return: SuccessData
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_local_connection_profile_with_http_info(server, agent, type, name, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_local_connection_profile_with_http_info(server, agent, type, name, **kwargs)  # noqa: E501
            return data

    def delete_local_connection_profile_with_http_info(self, server, agent, type, name, **kwargs):  # noqa: E501
        """Delete Local Connection Profile  # noqa: E501

        Delete Local Connection Profile  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_local_connection_profile_with_http_info(server, agent, type, name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str server: The name of the Control-M in which the connection profile is deployed. (required)
        :param str agent: The name of the agent the connection profile is deployed on. (required)
        :param str type: The type of connection profile to delete. (required)
        :param str name: Name of the Connection Profile (required)
        :return: SuccessData
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['server', 'agent', 'type', 'name']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_local_connection_profile" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'server' is set
        if ('server' not in params or
                params['server'] is None):
            raise ValueError("Missing the required parameter `server` when calling `delete_local_connection_profile`")  # noqa: E501
        # verify the required parameter 'agent' is set
        if ('agent' not in params or
                params['agent'] is None):
            raise ValueError("Missing the required parameter `agent` when calling `delete_local_connection_profile`")  # noqa: E501
        # verify the required parameter 'type' is set
        if ('type' not in params or
                params['type'] is None):
            raise ValueError("Missing the required parameter `type` when calling `delete_local_connection_profile`")  # noqa: E501
        # verify the required parameter 'name' is set
        if ('name' not in params or
                params['name'] is None):
            raise ValueError("Missing the required parameter `name` when calling `delete_local_connection_profile`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'server' in params:
            path_params['server'] = params['server']  # noqa: E501
        if 'agent' in params:
            path_params['agent'] = params['agent']  # noqa: E501
        if 'type' in params:
            path_params['type'] = params['type']  # noqa: E501
        if 'name' in params:
            path_params['name'] = params['name']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ApiKeyAuth', 'Bearer']  # noqa: E501

        return self.api_client.call_api(
            '/deploy/connectionprofile/local/{server}/{agent}/{type}/{name}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='SuccessData',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_shared_connection_profile(self, type, name, **kwargs):  # noqa: E501
        """Delete centralized Connection Profile  # noqa: E501

        Delete centralized Connection Profile  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_shared_connection_profile(type, name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str type: The type of connection profile to delete. (required)
        :param str name: Name of the Connection Profile (required)
        :return: SuccessData
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_shared_connection_profile_with_http_info(type, name, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_shared_connection_profile_with_http_info(type, name, **kwargs)  # noqa: E501
            return data

    def delete_shared_connection_profile_with_http_info(self, type, name, **kwargs):  # noqa: E501
        """Delete centralized Connection Profile  # noqa: E501

        Delete centralized Connection Profile  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_shared_connection_profile_with_http_info(type, name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str type: The type of connection profile to delete. (required)
        :param str name: Name of the Connection Profile (required)
        :return: SuccessData
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['type', 'name']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_shared_connection_profile" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'type' is set
        if ('type' not in params or
                params['type'] is None):
            raise ValueError("Missing the required parameter `type` when calling `delete_shared_connection_profile`")  # noqa: E501
        # verify the required parameter 'name' is set
        if ('name' not in params or
                params['name'] is None):
            raise ValueError("Missing the required parameter `name` when calling `delete_shared_connection_profile`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'type' in params:
            path_params['type'] = params['type']  # noqa: E501
        if 'name' in params:
            path_params['name'] = params['name']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ApiKeyAuth', 'Bearer']  # noqa: E501

        return self.api_client.call_api(
            '/deploy/connectionprofile/centralized/{type}/{name}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='SuccessData',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_site_standard(self, site_standard_name, **kwargs):  # noqa: E501
        """Delete a Site Standard.  # noqa: E501

        Delete a Site Standard.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_site_standard(site_standard_name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str site_standard_name: The name of the Site Standard to be deleted. (required)
        :return: SuccessData
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_site_standard_with_http_info(site_standard_name, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_site_standard_with_http_info(site_standard_name, **kwargs)  # noqa: E501
            return data

    def delete_site_standard_with_http_info(self, site_standard_name, **kwargs):  # noqa: E501
        """Delete a Site Standard.  # noqa: E501

        Delete a Site Standard.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_site_standard_with_http_info(site_standard_name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str site_standard_name: The name of the Site Standard to be deleted. (required)
        :return: SuccessData
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['site_standard_name']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_site_standard" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'site_standard_name' is set
        if ('site_standard_name' not in params or
                params['site_standard_name'] is None):
            raise ValueError("Missing the required parameter `site_standard_name` when calling `delete_site_standard`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'site_standard_name' in params:
            path_params['siteStandardName'] = params['site_standard_name']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ApiKeyAuth', 'Bearer']  # noqa: E501

        return self.api_client.call_api(
            '/deploy/sitestandard/{siteStandardName}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='SuccessData',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_site_standard_policy(self, site_standard_policy_name, **kwargs):  # noqa: E501
        """Delete a Site Standard Policy.  # noqa: E501

        Delete a Site Standard Policy.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_site_standard_policy(site_standard_policy_name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str site_standard_policy_name: The name of the Site Standard Policy to be deleted. (required)
        :return: SuccessData
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_site_standard_policy_with_http_info(site_standard_policy_name, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_site_standard_policy_with_http_info(site_standard_policy_name, **kwargs)  # noqa: E501
            return data

    def delete_site_standard_policy_with_http_info(self, site_standard_policy_name, **kwargs):  # noqa: E501
        """Delete a Site Standard Policy.  # noqa: E501

        Delete a Site Standard Policy.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_site_standard_policy_with_http_info(site_standard_policy_name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str site_standard_policy_name: The name of the Site Standard Policy to be deleted. (required)
        :return: SuccessData
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['site_standard_policy_name']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_site_standard_policy" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'site_standard_policy_name' is set
        if ('site_standard_policy_name' not in params or
                params['site_standard_policy_name'] is None):
            raise ValueError("Missing the required parameter `site_standard_policy_name` when calling `delete_site_standard_policy`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'site_standard_policy_name' in params:
            path_params['siteStandardPolicyName'] = params['site_standard_policy_name']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ApiKeyAuth', 'Bearer']  # noqa: E501

        return self.api_client.call_api(
            '/deploy/sitestandardpolicy/{siteStandardPolicyName}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='SuccessData',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_sub_folder(self, sub_folder_path, **kwargs):  # noqa: E501
        """delete a sub folder  # noqa: E501

        Delete a sub folder  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_sub_folder(sub_folder_path, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str sub_folder_path: The name of the required subFolderPath. (required)
        :param str server: The name of the Control-M in which the sub folder are deployed.
        :param str library: library be filled only for z/os.
        :return: SuccessData
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_sub_folder_with_http_info(sub_folder_path, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_sub_folder_with_http_info(sub_folder_path, **kwargs)  # noqa: E501
            return data

    def delete_sub_folder_with_http_info(self, sub_folder_path, **kwargs):  # noqa: E501
        """delete a sub folder  # noqa: E501

        Delete a sub folder  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_sub_folder_with_http_info(sub_folder_path, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str sub_folder_path: The name of the required subFolderPath. (required)
        :param str server: The name of the Control-M in which the sub folder are deployed.
        :param str library: library be filled only for z/os.
        :return: SuccessData
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['sub_folder_path', 'server', 'library']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_sub_folder" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'sub_folder_path' is set
        if ('sub_folder_path' not in params or
                params['sub_folder_path'] is None):
            raise ValueError("Missing the required parameter `sub_folder_path` when calling `delete_sub_folder`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'sub_folder_path' in params:
            path_params['subFolderPath'] = params['sub_folder_path']  # noqa: E501

        query_params = []
        if 'server' in params:
            query_params.append(('server', params['server']))  # noqa: E501
        if 'library' in params:
            query_params.append(('library', params['library']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ApiKeyAuth', 'Bearer']  # noqa: E501

        return self.api_client.call_api(
            '/deploy/subfolder/{subFolderPath}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='SuccessData',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def deploy_ai_jobtype(self, ctm, agent, job_type_id, **kwargs):  # noqa: E501
        """Deploy of Application Integrator job type.  # noqa: E501

        Deploy an existing Application Integrator job type to agent in order to allow it to run  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.deploy_ai_jobtype(ctm, agent, job_type_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str ctm: (required)
        :param str agent: (required)
        :param str job_type_id: (required)
        :return: AiDeployResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.deploy_ai_jobtype_with_http_info(ctm, agent, job_type_id, **kwargs)  # noqa: E501
        else:
            (data) = self.deploy_ai_jobtype_with_http_info(ctm, agent, job_type_id, **kwargs)  # noqa: E501
            return data

    def deploy_ai_jobtype_with_http_info(self, ctm, agent, job_type_id, **kwargs):  # noqa: E501
        """Deploy of Application Integrator job type.  # noqa: E501

        Deploy an existing Application Integrator job type to agent in order to allow it to run  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.deploy_ai_jobtype_with_http_info(ctm, agent, job_type_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str ctm: (required)
        :param str agent: (required)
        :param str job_type_id: (required)
        :return: AiDeployResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['ctm', 'agent', 'job_type_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method deploy_ai_jobtype" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'ctm' is set
        if ('ctm' not in params or
                params['ctm'] is None):
            raise ValueError("Missing the required parameter `ctm` when calling `deploy_ai_jobtype`")  # noqa: E501
        # verify the required parameter 'agent' is set
        if ('agent' not in params or
                params['agent'] is None):
            raise ValueError("Missing the required parameter `agent` when calling `deploy_ai_jobtype`")  # noqa: E501
        # verify the required parameter 'job_type_id' is set
        if ('job_type_id' not in params or
                params['job_type_id'] is None):
            raise ValueError("Missing the required parameter `job_type_id` when calling `deploy_ai_jobtype`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'ctm' in params:
            query_params.append(('ctm', params['ctm']))  # noqa: E501
        if 'agent' in params:
            query_params.append(('agent', params['agent']))  # noqa: E501
        if 'job_type_id' in params:
            query_params.append(('jobTypeId', params['job_type_id']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ApiKeyAuth', 'Bearer']  # noqa: E501

        return self.api_client.call_api(
            '/deploy/ai/jobtype', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='AiDeployResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def deploy_file(self, definitions_file, deploy_descriptor_file, additional_configuration, **kwargs):  # noqa: E501
        """Deploy definitions file  # noqa: E501

        Deploy the provided definition file (JSON, XML or zip) to Control-M  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.deploy_file(definitions_file, deploy_descriptor_file, additional_configuration, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str definitions_file: (required)
        :param str deploy_descriptor_file: (required)
        :param str additional_configuration: (required)
        :return: list[DeploymentFileResults]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.deploy_file_with_http_info(definitions_file, deploy_descriptor_file, additional_configuration, **kwargs)  # noqa: E501
        else:
            (data) = self.deploy_file_with_http_info(definitions_file, deploy_descriptor_file, additional_configuration, **kwargs)  # noqa: E501
            return data

    def deploy_file_with_http_info(self, definitions_file, deploy_descriptor_file, additional_configuration, **kwargs):  # noqa: E501
        """Deploy definitions file  # noqa: E501

        Deploy the provided definition file (JSON, XML or zip) to Control-M  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.deploy_file_with_http_info(definitions_file, deploy_descriptor_file, additional_configuration, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str definitions_file: (required)
        :param str deploy_descriptor_file: (required)
        :param str additional_configuration: (required)
        :return: list[DeploymentFileResults]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['definitions_file', 'deploy_descriptor_file', 'additional_configuration']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method deploy_file" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'definitions_file' is set
        if ('definitions_file' not in params or
                params['definitions_file'] is None):
            raise ValueError("Missing the required parameter `definitions_file` when calling `deploy_file`")  # noqa: E501
        # verify the required parameter 'deploy_descriptor_file' is set
        if ('deploy_descriptor_file' not in params or
                params['deploy_descriptor_file'] is None):
            raise ValueError("Missing the required parameter `deploy_descriptor_file` when calling `deploy_file`")  # noqa: E501
        # verify the required parameter 'additional_configuration' is set
        if ('additional_configuration' not in params or
                params['additional_configuration'] is None):
            raise ValueError("Missing the required parameter `additional_configuration` when calling `deploy_file`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}
        if 'definitions_file' in params:
            local_var_files['definitionsFile'] = params['definitions_file']  # noqa: E501
        if 'deploy_descriptor_file' in params:
            local_var_files['deployDescriptorFile'] = params['deploy_descriptor_file']  # noqa: E501
        if 'additional_configuration' in params:
            local_var_files['additionalConfiguration'] = params['additional_configuration']  # noqa: E501

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['multipart/form-data'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ApiKeyAuth', 'Bearer']  # noqa: E501

        return self.api_client.call_api(
            '/deploy', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[DeploymentFileResults]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def deploy_jobtype_file(self, definitions_file, payload_file, **kwargs):  # noqa: E501
        """Deploy jobtype  # noqa: E501

        Deploy the provided jobtype to AI server, EM server, and Agent.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.deploy_jobtype_file(definitions_file, payload_file, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str definitions_file: (required)
        :param str payload_file: (required)
        :param str agent:
        :param str server:
        :return: DeployJobtypeResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.deploy_jobtype_file_with_http_info(definitions_file, payload_file, **kwargs)  # noqa: E501
        else:
            (data) = self.deploy_jobtype_file_with_http_info(definitions_file, payload_file, **kwargs)  # noqa: E501
            return data

    def deploy_jobtype_file_with_http_info(self, definitions_file, payload_file, **kwargs):  # noqa: E501
        """Deploy jobtype  # noqa: E501

        Deploy the provided jobtype to AI server, EM server, and Agent.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.deploy_jobtype_file_with_http_info(definitions_file, payload_file, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str definitions_file: (required)
        :param str payload_file: (required)
        :param str agent:
        :param str server:
        :return: DeployJobtypeResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['definitions_file', 'payload_file', 'agent', 'server']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method deploy_jobtype_file" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'definitions_file' is set
        if ('definitions_file' not in params or
                params['definitions_file'] is None):
            raise ValueError("Missing the required parameter `definitions_file` when calling `deploy_jobtype_file`")  # noqa: E501
        # verify the required parameter 'payload_file' is set
        if ('payload_file' not in params or
                params['payload_file'] is None):
            raise ValueError("Missing the required parameter `payload_file` when calling `deploy_jobtype_file`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'agent' in params:
            query_params.append(('agent', params['agent']))  # noqa: E501
        if 'server' in params:
            query_params.append(('server', params['server']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}
        if 'definitions_file' in params:
            local_var_files['definitionsFile'] = params['definitions_file']  # noqa: E501
        if 'payload_file' in params:
            local_var_files['payloadFile'] = params['payload_file']  # noqa: E501

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['multipart/form-data'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ApiKeyAuth', 'Bearer']  # noqa: E501

        return self.api_client.call_api(
            '/deploy/jobtype', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='DeployJobtypeResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def deploy_site_standard_policies(self, site_standard_policies_file, **kwargs):  # noqa: E501
        """Deploy Site Standard Policies.  # noqa: E501

        Deploy Site Standard Policies.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.deploy_site_standard_policies(site_standard_policies_file, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str site_standard_policies_file: (required)
        :return: SiteStandardPoliciesFileResults
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.deploy_site_standard_policies_with_http_info(site_standard_policies_file, **kwargs)  # noqa: E501
        else:
            (data) = self.deploy_site_standard_policies_with_http_info(site_standard_policies_file, **kwargs)  # noqa: E501
            return data

    def deploy_site_standard_policies_with_http_info(self, site_standard_policies_file, **kwargs):  # noqa: E501
        """Deploy Site Standard Policies.  # noqa: E501

        Deploy Site Standard Policies.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.deploy_site_standard_policies_with_http_info(site_standard_policies_file, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str site_standard_policies_file: (required)
        :return: SiteStandardPoliciesFileResults
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['site_standard_policies_file']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method deploy_site_standard_policies" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'site_standard_policies_file' is set
        if ('site_standard_policies_file' not in params or
                params['site_standard_policies_file'] is None):
            raise ValueError("Missing the required parameter `site_standard_policies_file` when calling `deploy_site_standard_policies`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}
        if 'site_standard_policies_file' in params:
            local_var_files['siteStandardPoliciesFile'] = params['site_standard_policies_file']  # noqa: E501

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['multipart/form-data'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ApiKeyAuth', 'Bearer']  # noqa: E501

        return self.api_client.call_api(
            '/deploy/sitestandardpolicies', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='SiteStandardPoliciesFileResults',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_connection_profiles_deployment_status(self, type, name, **kwargs):  # noqa: E501
        """Get deployed connection profiles deployment status  # noqa: E501

        Get currently deployed connection profiles deployment status according to the search query as JSON.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_connection_profiles_deployment_status(type, name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str type: The type of connection profile such as Database, FileTransfer, Hadoop, Informatica, SAP. (required)
        :param str name: Name of the Connection Profile (required)
        :return: ConnectionProfilesDeploymentStatusResult
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_connection_profiles_deployment_status_with_http_info(type, name, **kwargs)  # noqa: E501
        else:
            (data) = self.get_connection_profiles_deployment_status_with_http_info(type, name, **kwargs)  # noqa: E501
            return data

    def get_connection_profiles_deployment_status_with_http_info(self, type, name, **kwargs):  # noqa: E501
        """Get deployed connection profiles deployment status  # noqa: E501

        Get currently deployed connection profiles deployment status according to the search query as JSON.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_connection_profiles_deployment_status_with_http_info(type, name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str type: The type of connection profile such as Database, FileTransfer, Hadoop, Informatica, SAP. (required)
        :param str name: Name of the Connection Profile (required)
        :return: ConnectionProfilesDeploymentStatusResult
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['type', 'name']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_connection_profiles_deployment_status" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'type' is set
        if ('type' not in params or
                params['type'] is None):
            raise ValueError("Missing the required parameter `type` when calling `get_connection_profiles_deployment_status`")  # noqa: E501
        # verify the required parameter 'name' is set
        if ('name' not in params or
                params['name'] is None):
            raise ValueError("Missing the required parameter `name` when calling `get_connection_profiles_deployment_status`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'type' in params:
            path_params['type'] = params['type']  # noqa: E501
        if 'name' in params:
            path_params['name'] = params['name']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ApiKeyAuth', 'Bearer']  # noqa: E501

        return self.api_client.call_api(
            '/deploy/connectionprofile/centralized/deploymentstatus/{type}/{name}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ConnectionProfilesDeploymentStatusResult',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_ctm_ai_job_type_plugin(self, job_type_name, **kwargs):  # noqa: E501
        """Get AI based job type content  # noqa: E501

        Get AI based job type content. When used with CLI content is saved as a .ctmai file.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_ctm_ai_job_type_plugin(job_type_name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str job_type_name: The job type name (required)
        :return: str
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_ctm_ai_job_type_plugin_with_http_info(job_type_name, **kwargs)  # noqa: E501
        else:
            (data) = self.get_ctm_ai_job_type_plugin_with_http_info(job_type_name, **kwargs)  # noqa: E501
            return data

    def get_ctm_ai_job_type_plugin_with_http_info(self, job_type_name, **kwargs):  # noqa: E501
        """Get AI based job type content  # noqa: E501

        Get AI based job type content. When used with CLI content is saved as a .ctmai file.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_ctm_ai_job_type_plugin_with_http_info(job_type_name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str job_type_name: The job type name (required)
        :return: str
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['job_type_name']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_ctm_ai_job_type_plugin" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'job_type_name' is set
        if ('job_type_name' not in params or
                params['job_type_name'] is None):
            raise ValueError("Missing the required parameter `job_type_name` when calling `get_ctm_ai_job_type_plugin`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'job_type_name' in params:
            query_params.append(('jobTypeName', params['job_type_name']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ApiKeyAuth', 'Bearer']  # noqa: E501

        return self.api_client.call_api(
            '/deploy/jobtype', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='str',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_deployed_ai_jobtypes(self, **kwargs):  # noqa: E501
        """Get Application Integrator job types  # noqa: E501

        Get deployed Application Integrator job types that match the requested search criteria.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_deployed_ai_jobtypes(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str job_type_name: Job type display name ( or partial name ) for query. It accepts * as wildcard.
        :param str job_type_id: Job type id ( or partial name ) for query. It accepts * as wildcard.
        :return: AiJobtypeList
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_deployed_ai_jobtypes_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.get_deployed_ai_jobtypes_with_http_info(**kwargs)  # noqa: E501
            return data

    def get_deployed_ai_jobtypes_with_http_info(self, **kwargs):  # noqa: E501
        """Get Application Integrator job types  # noqa: E501

        Get deployed Application Integrator job types that match the requested search criteria.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_deployed_ai_jobtypes_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str job_type_name: Job type display name ( or partial name ) for query. It accepts * as wildcard.
        :param str job_type_id: Job type id ( or partial name ) for query. It accepts * as wildcard.
        :return: AiJobtypeList
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['job_type_name', 'job_type_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_deployed_ai_jobtypes" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'job_type_name' in params:
            query_params.append(('jobTypeName', params['job_type_name']))  # noqa: E501
        if 'job_type_id' in params:
            query_params.append(('jobTypeId', params['job_type_id']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ApiKeyAuth', 'Bearer']  # noqa: E501

        return self.api_client.call_api(
            '/deploy/ai/jobtypes', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='AiJobtypeList',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_deployed_calendars(self, **kwargs):  # noqa: E501
        """Get deployed calendars that match the search criteria.  # noqa: E501

        Get definition of calendars as json code that match the requested search criteria.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_deployed_calendars(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str name:
        :param str server:
        :param str type: Calendar type.
        :param str alias: Calendar alias name for z/OS servers.
        :return: str
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_deployed_calendars_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.get_deployed_calendars_with_http_info(**kwargs)  # noqa: E501
            return data

    def get_deployed_calendars_with_http_info(self, **kwargs):  # noqa: E501
        """Get deployed calendars that match the search criteria.  # noqa: E501

        Get definition of calendars as json code that match the requested search criteria.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_deployed_calendars_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str name:
        :param str server:
        :param str type: Calendar type.
        :param str alias: Calendar alias name for z/OS servers.
        :return: str
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['name', 'server', 'type', 'alias']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_deployed_calendars" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'name' in params:
            query_params.append(('name', params['name']))  # noqa: E501
        if 'server' in params:
            query_params.append(('server', params['server']))  # noqa: E501
        if 'type' in params:
            query_params.append(('type', params['type']))  # noqa: E501
        if 'alias' in params:
            query_params.append(('alias', params['alias']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ApiKeyAuth', 'Bearer']  # noqa: E501

        return self.api_client.call_api(
            '/deploy/calendars', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='str',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_deployed_connection_profiles(self, agent, type, **kwargs):  # noqa: E501
        """Get local deployed connection profiles  # noqa: E501

        Get currently local deployed connection profiles according to the search query as JSON.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_deployed_connection_profiles(agent, type, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str agent: The name of the agent the connection profile is deployed on (required)
        :param str type: The type of connection profile such as Database, FileTransfer, Hadoop, Informatica, SAP. (required)
        :param str ctm: The name of the Control-M in which the connection profile is deployed on
        :param str server: The name of the Control-M in which the connection profile is deployed on
        :return: str
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_deployed_connection_profiles_with_http_info(agent, type, **kwargs)  # noqa: E501
        else:
            (data) = self.get_deployed_connection_profiles_with_http_info(agent, type, **kwargs)  # noqa: E501
            return data

    def get_deployed_connection_profiles_with_http_info(self, agent, type, **kwargs):  # noqa: E501
        """Get local deployed connection profiles  # noqa: E501

        Get currently local deployed connection profiles according to the search query as JSON.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_deployed_connection_profiles_with_http_info(agent, type, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str agent: The name of the agent the connection profile is deployed on (required)
        :param str type: The type of connection profile such as Database, FileTransfer, Hadoop, Informatica, SAP. (required)
        :param str ctm: The name of the Control-M in which the connection profile is deployed on
        :param str server: The name of the Control-M in which the connection profile is deployed on
        :return: str
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['agent', 'type', 'ctm', 'server']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_deployed_connection_profiles" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'agent' is set
        if ('agent' not in params or
                params['agent'] is None):
            raise ValueError("Missing the required parameter `agent` when calling `get_deployed_connection_profiles`")  # noqa: E501
        # verify the required parameter 'type' is set
        if ('type' not in params or
                params['type'] is None):
            raise ValueError("Missing the required parameter `type` when calling `get_deployed_connection_profiles`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'ctm' in params:
            query_params.append(('ctm', params['ctm']))  # noqa: E501
        if 'server' in params:
            query_params.append(('server', params['server']))  # noqa: E501
        if 'agent' in params:
            query_params.append(('agent', params['agent']))  # noqa: E501
        if 'type' in params:
            query_params.append(('type', params['type']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ApiKeyAuth', 'Bearer']  # noqa: E501

        return self.api_client.call_api(
            '/deploy/connectionprofiles', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='str',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_deployed_connection_profiles_status(self, **kwargs):  # noqa: E501
        """Get deployed connection profiles status  # noqa: E501

        Get currently deployed connection profiles status according to the search query as JSON.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_deployed_connection_profiles_status(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int limit: number to limit the returned connection profiles. If missed - get all
        :param str name: conn profile name (support *, ?, and comma, default is * for all).
        :param str type: conn profile type (default is * for accounts from all CMs).
        :return: ConnectionProfilesStatusResult
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_deployed_connection_profiles_status_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.get_deployed_connection_profiles_status_with_http_info(**kwargs)  # noqa: E501
            return data

    def get_deployed_connection_profiles_status_with_http_info(self, **kwargs):  # noqa: E501
        """Get deployed connection profiles status  # noqa: E501

        Get currently deployed connection profiles status according to the search query as JSON.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_deployed_connection_profiles_status_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int limit: number to limit the returned connection profiles. If missed - get all
        :param str name: conn profile name (support *, ?, and comma, default is * for all).
        :param str type: conn profile type (default is * for accounts from all CMs).
        :return: ConnectionProfilesStatusResult
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['limit', 'name', 'type']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_deployed_connection_profiles_status" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'limit' in params:
            query_params.append(('limit', params['limit']))  # noqa: E501
        if 'name' in params:
            query_params.append(('name', params['name']))  # noqa: E501
        if 'type' in params:
            query_params.append(('type', params['type']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ApiKeyAuth', 'Bearer']  # noqa: E501

        return self.api_client.call_api(
            '/deploy/connectionprofiles/centralized/status', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ConnectionProfilesStatusResult',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_deployed_folders(self, **kwargs):  # noqa: E501
        """Get deployed folders that match the search criteria.  # noqa: E501

        Get definition of folders that match the requested search criteria.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_deployed_folders(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str folder:
        :param str server:
        :param str library: library be filled only for z/os.
        :param str folder_type: filter by simpleFolder
        :param str site_standard: filter by siteStandard
        :param str application: filter by application
        :param str sub_application: filter by subApplication
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_deployed_folders_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.get_deployed_folders_with_http_info(**kwargs)  # noqa: E501
            return data

    def get_deployed_folders_with_http_info(self, **kwargs):  # noqa: E501
        """Get deployed folders that match the search criteria.  # noqa: E501

        Get definition of folders that match the requested search criteria.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_deployed_folders_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str folder:
        :param str server:
        :param str library: library be filled only for z/os.
        :param str folder_type: filter by simpleFolder
        :param str site_standard: filter by siteStandard
        :param str application: filter by application
        :param str sub_application: filter by subApplication
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['folder', 'server', 'library', 'folder_type', 'site_standard', 'application', 'sub_application']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_deployed_folders" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'folder' in params:
            query_params.append(('folder', params['folder']))  # noqa: E501
        if 'server' in params:
            query_params.append(('server', params['server']))  # noqa: E501
        if 'library' in params:
            query_params.append(('library', params['library']))  # noqa: E501
        if 'folder_type' in params:
            query_params.append(('folderType', params['folder_type']))  # noqa: E501
        if 'site_standard' in params:
            query_params.append(('siteStandard', params['site_standard']))  # noqa: E501
        if 'application' in params:
            query_params.append(('application', params['application']))  # noqa: E501
        if 'sub_application' in params:
            query_params.append(('subApplication', params['sub_application']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ApiKeyAuth', 'Bearer']  # noqa: E501

        return self.api_client.call_api(
            '/deploy/folders', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='object',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_deployed_folders_new(self, **kwargs):  # noqa: E501
        """Get deployed jobs that match the search criteria.  # noqa: E501

        Get definition of jobs and folders (in the desired format - JSON or XML) that match the requested search criteria.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_deployed_folders_new(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str format: Output format (json or xml)
        :param str folder:
        :param str job:
        :param str ctm:
        :param str server:
        :param bool use_array_format: When set to true, the jobs in the json response will always be arranged in arrays
        :param str library: library be filled only for z/os.
        :param bool flow_data: When set to true, only data cache will be return
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_deployed_folders_new_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.get_deployed_folders_new_with_http_info(**kwargs)  # noqa: E501
            return data

    def get_deployed_folders_new_with_http_info(self, **kwargs):  # noqa: E501
        """Get deployed jobs that match the search criteria.  # noqa: E501

        Get definition of jobs and folders (in the desired format - JSON or XML) that match the requested search criteria.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_deployed_folders_new_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str format: Output format (json or xml)
        :param str folder:
        :param str job:
        :param str ctm:
        :param str server:
        :param bool use_array_format: When set to true, the jobs in the json response will always be arranged in arrays
        :param str library: library be filled only for z/os.
        :param bool flow_data: When set to true, only data cache will be return
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['format', 'folder', 'job', 'ctm', 'server', 'use_array_format', 'library', 'flow_data']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_deployed_folders_new" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'format' in params:
            query_params.append(('format', params['format']))  # noqa: E501
        if 'folder' in params:
            query_params.append(('folder', params['folder']))  # noqa: E501
        if 'job' in params:
            query_params.append(('job', params['job']))  # noqa: E501
        if 'ctm' in params:
            query_params.append(('ctm', params['ctm']))  # noqa: E501
        if 'server' in params:
            query_params.append(('server', params['server']))  # noqa: E501
        if 'use_array_format' in params:
            query_params.append(('useArrayFormat', params['use_array_format']))  # noqa: E501
        if 'library' in params:
            query_params.append(('library', params['library']))  # noqa: E501
        if 'flow_data' in params:
            query_params.append(('flowData', params['flow_data']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ApiKeyAuth', 'Bearer']  # noqa: E501

        return self.api_client.call_api(
            '/deploy/jobs', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='object',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_local_connection_profiles(self, agent, type, **kwargs):  # noqa: E501
        """Get local deployed connection profiles  # noqa: E501

        Get currently local deployed connection profiles according to the search query as JSON.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_local_connection_profiles(agent, type, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str agent: The name of the agent the connection profile is deployed on (required)
        :param str type: The type of connection profile such as Database, FileTransfer, Hadoop, Informatica, SAP. (required)
        :param str ctm: The name of the Control-M in which the connection profile is deployed on
        :param str server: The name of the Control-M in which the connection profile is deployed on
        :return: str
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_local_connection_profiles_with_http_info(agent, type, **kwargs)  # noqa: E501
        else:
            (data) = self.get_local_connection_profiles_with_http_info(agent, type, **kwargs)  # noqa: E501
            return data

    def get_local_connection_profiles_with_http_info(self, agent, type, **kwargs):  # noqa: E501
        """Get local deployed connection profiles  # noqa: E501

        Get currently local deployed connection profiles according to the search query as JSON.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_local_connection_profiles_with_http_info(agent, type, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str agent: The name of the agent the connection profile is deployed on (required)
        :param str type: The type of connection profile such as Database, FileTransfer, Hadoop, Informatica, SAP. (required)
        :param str ctm: The name of the Control-M in which the connection profile is deployed on
[...]
